.dom-header {
    width: 100%;
    background-color: $background-color-header;
    z-index: 1;
    position: fixed;
    transition: transform 0.4s ease;
    padding: 15px 0;
    transform: translateY(0);

        transform: translateY(-100%);
        
        &--scrolled {
            @include regularShadow;
            transform: translateY(0);
        }

    img {
        margin: 0;
    }

    .dom-header__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 800px;
        margin: 0 auto;

        @include media-breakpoint-down(md) {
            padding-left: 15px;
        }
        
    }


    .dom-header__navigationToggle {
        position: fixed;
        right: 15px;
        top: 20px;
        z-index: 99;
        outline: none;
        border: none;
        background-color: transparent;
        // transition: top 0.2s;

        @include media-breakpoint-up(md) {
            display: none;
        }

        &--active {
            .burger-1 {
                transform: rotate(45deg) translate(3px, 6px);
            }
            .burger-2 {
                opacity: 0;
            }
            .burger-3 {
                transform: rotate(-45deg) translate(1px, -4px)
            }
        }
    }

    .burger {
        width: 20px;
        height: 2px;
        margin-bottom: 3px; 
        border-radius: 1px;
        background-color: $color-white;
        transition: transform 0.2s, opacity 0.2s;
    }
}
