.dom-navigation {
    margin: 0;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 98;
    transform: translateX(100%);
    background-color: $color-dark;
    padding: 25px;
    list-style-type: none;
    transition: transform 0.4s;
    @include fontAmatic;
    
    @include media-breakpoint-down(sm) {
        padding-top: 70px;
        height: 100vh;
    }

    &--show {
        @include media-breakpoint-down(sm) {
            transform: translateX(20%);
        }
    }
    
    @include media-breakpoint-up(md) {
        padding: 0;
        position: static;
        transform: translateX(0);
        background-color: transparent;
        display: flex;
    }
    
    li {
        padding: 0;
        margin: 0;
        @include font-medium;
        @include font-large;
        font-weight: 900;
        
        @include media-breakpoint-down(sm) {
            font-size: 22px;
            margin-bottom: 30px;
        }

    }

    &__link {
        cursor: pointer;
        margin-left: 20px;
        text-decoration: none;
        color: $color-link;
        padding:0;
        transition: color 0.4s ease;

        &__active {
            color: $color-link-active;
        }

        &:hover {
            text-decoration: none;
        }
    }

}
