.dom-about {

    .dom-about__headline {
        @include h4-title;
    }
    .dom-about__text {
        @include font-medium;
        color: $color-copy;
    }

    .dom-about__avatar {
        position: relative;
        float: right;
        max-width: 100px;
        margin-left: 20px;
        border-radius: 50%;

        
    }

    .dom-about__avatarWrapper {
        position: relative;
    }
    .dom-about__avatarWrapper:before {
        content: "That's me!";
        position: absolute;
        top: -25px;
        right: -15px;
        @include fontAmatic;
        font-size: 20px;
        font-weight: 700;
        transform: rotate(15deg);
    }

    .dom-about__imageWrapper {
        position: relative;
        transition: box-shadow 0.4s, transform 0.4s;
        @include blurShadow;

        &:hover {
            @include regularShadow;
            transform: translateY(10px) rotate(2deg);

            .overlay {
                opacity: 0.2;
            }
        }
    }

    .overlay {
        background-color: $color-dark;
        opacity: 0.5;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: 5px;
        transition: opacity 0.3s ease;
    }
}
